#Gnb .all_menu_wrap>li h2+.sub_menu_box {
    padding: 0 9px 0 10px;
}

#Gnb .all_menu_wrap>li h2+.sub_menu_box~.sub_menu_box {
    border-left: 0;
}

#Gnb .all_menu_wrap>li h2+.sub_menu_box~.sub_menu_box::before {
    position: absolute;
    top: 60px;
    bottom: 20px;
    width: 1px;
    background-color: #f0f1f4;
    transform: translateX(-10px);
    content: "";
}

#Gnb .all_menu_wrap>li .sub_menu_box{
    float: left;
    min-height: 400px;
    width: 169px;
}

#Gnb .all_menu_wrap .sub_menu_box .sub_depth:first-child {
    margin-top: 0;
}

#Gnb .all_menu_wrap .sub_menu_box .sub_depth{
    margin-top: 22px;
    padding: 0 20px;
}

#Gnb .all_menu_wrap .sub_menu_box .sub_depth a {
    position: relative;
    height: 22px;
    padding-right: 15px;
    padding-bottom: 2px;
    font-weight: 700;
    color: #131518;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/arrow_12_21_02.png) 100% 5px / 5.5px no-repeat;
}

#Gnb .all_menu_wrap .sub_menu_box>ul {
    margin: 7px 0 0;
    padding: 0 20px;
}

#Gnb .all_menu_wrap .sub_menu_box>ul>li {
    padding: 3px 0;
}